.bar { fill: #639ac3; }

.bar:hover {
    fill: #475D74;
}

.barTT {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #46638b;
    padding: 14px;
    text-align: center;
}
